<div class="users">
  <% @users.each do |user| %>
    <div class="user-card">
      <h2><%= link_to "#{user.full_name}", user_path(user) %></h2>
      <% if user.arts_worker? %>
        <p><%= user.profession %></p>
      <% end %>
    </div>
  <% end %>
</div>