<div class="event-index-image"></div>
<h1>Events</h1>
<div class="location">
  <h2>Search by Location</h2>
  <button id="current-location">Find Events near me</button>
</div>
<div class="categories">
  <h2>Search by Category</h2>
  <div class="categories">
    <div class="category-search">
      <% @categories.each do |category| %>
        <%= link_to category.name, events_path, :class => 'btn-category', 'data-category' => category.id %>
      <% end %>
      <%= link_to "All", events_path, :class => 'btn-category', 'data-category' => @categories.length + 1 %>
    </div>
  </div>
</div>
<div class="index-page">
  <div class="events"></div>
</div>