<h1>Events</h1>
<h2>Search by Category</h2>
<div class="categories">
  <% @categories.each do |category| %>
    <%= link_to category.name, events_path, :class => 'btn-category', 'data-category' => category.id %>
  <% end %>
  <%= link_to "All", events_path, :class => 'btn-category', 'data-category' => @categories.length + 1 %>
</div>
<div class="events"></div>