<div id="friends" class="container-lrg">
  <h2>Friends</h2>
  <div class="container">
    <% @friendships.each do |friendship| %>
      <% if friendship.friender == current_user %>
        <% friend = friendship.friendee %>
      <% else %>
        <% friend = friendship.friender %>
      <% end %>
      <div class="user-friend">
        <% if friend.avatar_url %>
          <%= image_tag "#{friend.avatar_url(:medium)}", :class => 'friend-image' %>
        <% else %>
          <%= image_tag "#{friend.gravatar}", :class => 'friend-image' %>
        <% end %>
        <%= link_to "#{friend.full_name}", user_path(friend), :class => 'user-link' %>
      </div>
    <% end %>
  </div>
</div>