<div id="requests" class="container-lrg">
  <h2>Requests</h2>
  <div class="container">
    <% @requests.each do |request| %>
      <% friender = request.friender %>
      <div class="container-sm">
        <p><%= link_to "#{friender.full_name}", user_path(friender), :class => 'user-link' %></p>
        <p><%= link_to "Confirm Friend Request", friendship_path(request), :class => 'confirm' %></p>
      </div>
    <% end %>
  </div>
</div>