<div class="venues">
  <% @venues.each do |venue| %>
    <div class="venue-card">
      <%= image_tag venue.image %>
      <%= link_to "#{venue.name}", venue_path(venue) %>
    </div>
  <% end %>
</div>