body {
  background: $background-color;
  line-height: 1.5;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: .5rem;
}

p {
  margin-bottom: .5rem;
  color: $font-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

img {
  max-width: 100%;
  margin:0;
}