form {
  text-align: center;
  a {
    color: $dark-primary;
  }
  .links {
    margin-bottom: 1rem;
  }
}

label {
  color: $font-color;
  font-size: 1.2rem;
}

select, input, textarea {
  text-align: center;
  font-size: 1.2rem;
  padding: .25rem;
  margin-bottom: 1rem;
}

.home-page-form {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  input {
    margin-bottom: .5rem;
  }
}

button, .btn-login {
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    background: $contrast-color;
    border: none;
    border-radius: 3px;
    padding: .5rem .8rem;
    margin-top: .3rem;
    box-shadow: 0 1px 1px #333;
    &:hover {
      background: $dark-contrast;
      box-shadow: 1px 1px 1px #333;
    }
    &:active {
      box-shadow: none;
    }
  }

@media screen and (min-width: 700px) {
  .home-page-form{
    width: 50%;
    padding: 3rem
  }
}