form {
  text-align: center;
  a {
    color: $dark-primary;
  }
  .links {
    margin-bottom: 1rem;
  }
}

label {
  color: $font-color;
  font-size: 1.2rem;
}

select, input, textarea {
  text-align: center;
  font-size: 1.2rem;
  padding: .25rem;
  margin-bottom: 1rem;
}

button {
  font-size: 1.2rem;
}

.home-page-form {
  // background: hsla(27, 100%, 50%, .3);
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  // padding: .5rem;
  input {
    margin-bottom: .5rem;
  }
  button{
    color: #fff;
    text-shadow: 0 1px 1px #000;
    background: hsl(95, 84%, 42%);
    border: none;
    border-radius: 3px;
    padding: .3rem .5rem;
  }
}