header {
  background: $primary-color;
  box-shadow: 0 1px 1px #777;
}

.logo, h1, .or-break {
  font-family: 'Lobster Two', cursive;
}

.menu, .logo {
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 0 1px 1px black;
  &:hover {
    color: #fff;
  }
}

.header-user-gravatar {
  max-width: 1.7rem;
  max-height: 1.7rem;
  display: block;
  margin-right: .5rem;
}

.sidebar-menu {
  display: flex;
  align-items: center;
  padding: .2rem .5rem;
  min-width: 9.5rem;
  margin-right: 1rem;
  color: #fff;
  text-shadow: 0 1px 1px #333;
  &:hover, &.active {
    background: hsla(0, 0%, 100%, .5);
  }
  &:hover {
    cursor: pointer;
  }
}
.header-links {
  position: absolute;
  top: 2.5rem;
  right: 0;
  ul {
    display: flex;
    flex-direction: column;
    background: hsla(27, 100%, 50%, .9);
    box-shadow: 0 1px 1px #333;
    li {
      text-align: center;
      padding: .5rem;
      width: 8rem;
    };
    a {
      font-size: 1.2rem;
      color: #fff;
      text-shadow: 0 1px 1px black;
    }
  }
}

@media screen and (min-width: 700px) {
  header{
    padding: 0 1rem;
  }
}