.home-page-welcome {
  padding: .3rem 1rem .5em;
}

.or-break {
  text-align: center;
  font-size: 2.5rem;
  color: $primary-color;
}

@media screen and (min-width: 700px) {
  .home-page-content {
    display: flex;
  }
  .home-page-welcome {
    width: 50%;
    padding: 3rem
  }
  .home-page-btns {
    width: 50%;
    align-items: center;
    justify-content: space-around;
  }
}