html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

header {
  display: flex;
  align-items: center;
  height: 2.5rem;
  justify-content: space-between;
  padding: .5rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;
}
nav {
  display: none;
  position: absolute;
  top: 2.5rem;
  right: 0;
  ul {
    display: flex;
    flex-direction: column;
  }
  li {
    width: 7rem;
    padding: .5rem 0;
    text-align: center;
  }
  a {
   }
}

main {
  display: flex;
  margin-top: 2.5rem;
  flex-direction: column;
  min-height: 94vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  flex-direction: row;
  input {
    margin: 0;
    padding: 0;
  }
}

.index-page {
  display: none;
}

.col-left {
  width: 100%;
}

.col-right {
  width: 100%;
}

.add-video, .container-lrg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  background: #fff;
  width: 50rem;
  height: 20rem;
  text-align: center;
  margin: .5rem auto;
  padding: 0 .5rem .5rem;
  z-index: 10;

  .container-sm {
    border: 1px solid black;
    width: 30%;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 15rem;
}

.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: hsla(0, 0%, 0%, .7);
}

@media screen and (min-width: 700px) {
  .col-left {
    width: 20rem;
  }
  .col-right {
    width: 35rem;
  }

  .add-video, .container-lrg {
    width: 50rem;
    height: 20rem;
  }

}
