.notification {
  display: none;
  position: fixed;
  top: .2rem;
  right: 11rem;
  height: .75rem;
  width: .75rem;
  background: $accent-color;
  border-radius: 50%;
  border: 1px solid $dark-accent;
  z-index: 200;
}