#search-results {
  display: none;
  position: absolute;
  top: 2.5rem;
  background: hsla(27, 100%, 50%, .8);
  width: 100%;
  max-height: 16rem;
  overflow: scroll;
  color: white;
  text-align: center;
  text-shadow: 0 1px 1px #333;
  a{
    color: white;
  }
  h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .search-container {
    width: 60%;
    margin: .3rem auto;
    display: flex;
    flex-direction: column;
  };
  .search-user, .search-event, .search-venue {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    margin-top: .3rem;

  };
  .search-gravatar {
    max-width: 1.7rem;
    max-height: 1.7rem;
  }
  .search-image{
    max-width: 2.3rem;
    max-height: 2rem;
  }
}

.search-form {
  position: absolute;
  z-index: 15;
  top:0;
  right: 12rem;
  height: 2.5rem;
}

@media screen and (min-width: 700px) {
  .search-form {
  }

  #search-results {
    width: 40%;
    left: 30%;
    .search-container {
    width: 35%;
    }
  }
}

@media screen and (min-width: 900px) {
  .search-form {
  }
}

@media screen and (min-width: 1000px) {
  .search-form {
  }
}
