.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .user-card {
    width: 25rem;
    height: 8rem;
    background: #fff;
    margin: .5rem;
    padding: .5rem;
    box-shadow: 0 1px 1px #888;
    h2 {
      font-size: 1.5rem;
      a{
        color: $dark-primary;
      }
    }
  }
}

.user-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 93vh;
  background: #fff;
  padding: 2rem;
  h1 {
    font-size: 3rem;
  }
  .profile-image {
    width: 100%;
    .profile-picture {
      max-width: 100%;
    }
  }
  h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .social-links {
    text-align: center;
    width: 20rem;
    a {
      padding: .5rem;
    }
  }
  .user-links {
    width: 20rem;
    text-align: center;
  }
}

.name {
  width: 30rem;
}

.user-videos,
.user-images,
.user-events {
  width: 100%;
  max-height: 14rem;
  overflow: scroll;
  h2 {
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
}


.add-video {
  display: none;
}

.login {
  margin-top: 3rem;
}

@media screen and (min-width: 700px) {
  .user-profile {
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .user-videos,
  .user-images,
  .user-events {
    width: 35rem;
    max-height: 14rem;
    overflow: scroll;
    h2 {
      margin-top: 1rem;
      margin-bottom: .5rem;
    }
  }
  .user-profile {
    .profile-image {
      width: 20rem;
    }
  }
}