.venues {
  display: flex;
  flex-wrap: wrap;
  margin: .5rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.venue-card {
  background: #fff;
  box-shadow: 0 1px 1px #888;
  padding: 1rem;
  border: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  height: 8rem;
  width: 22rem;
  margin-bottom: 2rem;
  img{
    max-width: 30%;
  }
  a{
    font-size: 1.5rem;
    color: $dark-primary;
  }
}

.venue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 93vh;
  background: #fff;
  padding: 2rem;
  h1 {
    font-size: 3rem;
  }
  .col-left {
    width: 100%;
  }
  .col-right {
    width: 100%;
  }
  .venue-image-container {
    width: 100%;
  }
  .venue-image {
    max-width:100%;
  }
}

.venue-events {
  width: 100%;
  text-align: center;
  h2 {
    font-size: 2rem;
  }
}

.venue-event {
  margin-top: 1rem;
}

.map-container {
  width: 25rem;
}

#map-canvas {
  height: 20rem;
  width: 20rem;
}

@media screen and (min-width: 700px) {
  .venue {
    width: 80vw;
    margin: 0 auto;
    .col-left {
      width: 20rem;
    }
    .col-right {
      width: 35rem;
    }
  }

  .user-videos,
  .user-images,
  .user-events {
    width: 35rem;
    max-height: 14rem;
    overflow: scroll;
    h2 {
      margin-top: 1rem;
      margin-bottom: .5rem;
    }
  }
  .user-profile {
    .profile-image {
      width: 20rem;
    }
  }
}