.venues {
  display: flex;
  flex-wrap: wrap;
  margin: .5rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.venue-card {
  background: #fff;
  box-shadow: 0 1px 1px #888;
  padding: 1rem;
  border: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  height: 8rem;
  width: 22rem;
  margin-bottom: 2rem;
  img{
    max-width: 30%;
  }
  a{
    font-size: 1.5rem;
    color: $dark-primary;
  }
}

.venue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  min-height: 94vh;
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
  .venue-info-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  .venue-image-container {
    width: 20rem;
  }
  .venue-image {
    max-width:100%;
  }
}

.venue-events {
  width: 30rem;
  height: 20rem;
  text-align: center;
  overflow: scroll;
  h2 {
    font-size: 2rem;
  }
}

.venue-event {
  margin-top: 1rem;
}

.map-container {
  width: 25rem;
}

#map-canvas {
  height: 20rem;
  width: 20rem;
}